    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    body {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        line-height: 1.9;
        background-color: #f3f3f3;
    }

    nav {
        display: flex;
        justify-content: space-between;
        padding: .5rem 2rem;
        align-items: center;
        min-height: 8vh;
        background: rgba(0, 0, 0, 0.9);
    }

    .Company_logo img {
        margin-left: 3rem;
        height: 60px;
        width: 80px;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        width: 30%;
    }

    .nav-links li {
        list-style: none;
    }

    .nav-links a {
        color: rgb(255, 213, 213);
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 16px;
        transition: all .2s;
    }

    .nav_btn {
        background-color: #EC600B;
        width: 100px;
        padding-top: .2rem;
        height: 40px;
        border: none;
        color: white;
        border-radius: 5px;
        transition: all .5s;
    }

    .sticky {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.95);
    }

    .section_nav {
        overflow: hidden;
    }

    .nav_btn:hover {
        background-color: #a5d70e;
    }

    .burger {
        display: none;
        cursor: pointer;
    }

    .burger>div {
        width: 25px;
        height: 2px;
        background-color: rgb(226, 226, 226);
        margin: 5px;
        transition: all 0.3s ease;
    }

    .nav__link:hover {
        color: white;
    }

    @media screen and (max-width: 1024px) {
        nav-links {
            width: 60%;
        }
    }

    @media screen and (max-width: 768px) {
        body {
            overflow-x: hidden;
        }

        .nav-links {
            position: absolute;
            right: 0px;
            height: 80vh;
            top: -10.4vh;
            padding: 2rem;
            background-color: rgba(0, 0, 0, .8);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateY(-100%);
            transition: transform 0.5s ease-in;
        }

        .top {
            top: 9vh;
        }

        .nav-links li {
            opacity: 0;
        }

        .burger {
            display: block;
        }
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFadeIn {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    @keyframes navLinkFadeOut {
        from {
            opacity: 1;
            transform: translateX(0px);
        }

        to {
            opacity: 0;
            transform: translateX(50px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(+45deg) translate(-5px, -5px);
    }

    .background {
        min-height: 80vh;

        margin: 0 auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        background-image: linear-gradient(rgba(28, 28, 28, 0), rgba(4, 0, 0, 100)), url('image/security.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .background_content p {
        text-align: start;
        color: white;
        margin: 4rem;
        font-size: 1.4rem;
    }

    .background_content h5 {
        font-size: 4rem;
        color: rgb(149, 237, 9);
        margin: 4rem;
    }

    .section--1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 5rem;
        margin-top: 6rem;
    }

    .section--1 .left_content {
        width: 700px;
        margin: 0 2rem;
    }

    .left_content_para {
        margin-top: 3rem;
        line-height: 2rem;
        text-align: left;
    }

    .left_content button {
        margin-top: 3rem;
        border: none;
        width: 150px;
        height: 50px;
        color: white;
        background-color: #EC600B;
        transition: all .7s;
    }

    .left_content button:hover {
        background-color: #3C3443;
    }

    .section--1 .right_content {
        margin: 0 3rem;
    }

    .section--1 .right_conten p {
        margin: .5rem;
    }

    .section--2 {
        display: flex;
        flex-wrap: wrap;
        margin: 0 5rem;
        margin-top: 5rem;
        height: 300px;
        width: 87.5vw;
    }

    .section--2 img {
        width: 433px;
        height: 300px;
        object-fit: fill;
    }

    .section--3 {
        display: flex;
        margin: 0 5rem;
        margin-top: 2rem;
        flex-wrap: wrap;
    }

    .sec-3_left {
        width: 650px;
    }

    .sec-3_card {
        margin-top: -5rem;
        margin-left: 7rem;
        padding: 4rem;
        height: 700px;
        width: 500px;
        background-color: snow;
        box-shadow: 0 8px 8px 4px rgba(74, 73, 73, .4);
    }

    .sec-3_right {
        display: grid;
        grid-template-columns: auto auto;
        padding: 1rem;
    }

    .cctv {
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 250px;
        padding: 1rem;
        margin: 2rem;
    }

    .cctv img {
        height: 100px;
        width: 100px;
        transition: all 1s;
    }

    .cctv:hover img {
        transform: rotate(-25deg);
    }

    .alarm {
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 250px;
        padding: 1rem;
        margin: 2rem;
    }

    .alarm img {
        height: 100px;
        width: 100px;
        transition: all 1.5s;
    }

    .alarm:hover img {
        animation-duration: 0s;
        animation: swing linear .1s infinite alternate;
    }

    @keyframes swing {
        0% {
            transform: rotate(10deg);
        }

        100% {
            transform: rotate(-10deg);
        }
    }

    .on-site {
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 250px;
        padding: 1rem;
        margin: 2rem;
    }

    .on-site img {
        height: 100px;
        width: 100px;
        transition: all 1.5s;
    }

    .on-site:hover img {
        transform: scale(1.2);
    }

    .protection {
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 250px;
        padding: 1rem;
        margin: 2rem;
    }

    .protection img {
        height: 100px;
        width: 100px;
        transition: all 1.5s;
    }

    .protection:hover img {
        transform: scale(1.2);
    }

    .section--4 {
        margin: 0 5rem;
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
        background-color: white;
        overflow: hidden;
        box-shadow: 4px 4px 4px 4px rgba(74, 73, 73, .4)
    }

    .section--4 .sec--4_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 650px;
        width: 800px;
        background-image: linear-gradient(rgba(28, 28, 28, 0), rgba(4, 0, 0, 100)), url('image/sean-pollock-PhYq704ffdA-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: #f3f3f3;
    }

    .section--4 .sec--4_right {
        display: flex;
        flex-direction: column;
        background-color: #221d27;
        padding: 2rem;
        width: 600px;
        padding-top: 4rem;
        color: white;
    }

    .sec--4_right .question {
        color: white;
        background: transparent;
        border: none;
        border-bottom: 5px solid white;
        margin-top: .5rem;
    }

    .sec--4_right button {
        margin-top: 4rem;
        width: auto;
        border: none;
        background-color: #EC600B;
        color: white;
        height: 40px;
        transition: all .5s;
    }

    .sec--4_right button:hover {
        background-color: #7da408;
        color: black;
    }

    .section--5 {
        display: flex;
        margin: 0 5rem;
        margin-top: 2rem;
        flex-wrap: wrap;
    }

    .sec-5_left {
        width: 650px;
    }

    .sec-5_card {
        margin-top: -10rem;
        margin-left: 7rem;
        padding: 4rem;
        height: 500px;
        z-index: 10;
        width: 500px;
        background-color: snow;
        box-shadow: 0 8px 8px 4px rgba(74, 73, 73, .4);
    }

    .sec-5_right {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    }

    .sec-5_right .person1 img {
        object-fit: cover;
        width: 300px;
        height: 400px;
    }

    .sec-5_right .person2 img {
        object-fit: cover;
        width: 300px;
        height: auto;
    }

    .sec-5_right .person2 {
        width: 300px;
        height: 400px;
        overflow: hidden;
        margin-left: 1rem;
        position: relative;
        box-shadow: 5px 5px 5px 5px rgba(28, 28, 28, .1);
    }

    .sec-5_right .person1 {
        position: relative;
        width: 300px;
        height: 400px;
        overflow: hidden;
        box-shadow: 5px 5px 5px 5px rgba(28, 28, 28, .1);
    }

    .person1_hover {
        position: absolute;
        top: -500px;
        width: 300px;
        height: 400px;
        transition: all .5s;
        z-index: 10;
    }

    .links_person1 {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 300px;
        height: 300px;
        background-color: rgba(232, 136, 3, 0.7);
    }

    .links_person1 a {
        font-size: 40px;
        margin: 1rem;
        color: white;
        transition: all .5s;
    }

    .links_person1 a:hover {
        transform: translateY(-10px);
    }

    .person1_content {
        background-color: #221d27;
        color: white;
    }

    .person1:hover .person1_hover {
        top: 0px;
    }

    .person2_hover {
        position: absolute;
        top: -500px;
        width: 300px;
        transition: all .5s;
        height: 400px;
        z-index: 10;
    }

    .links_person2 {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 300px;
        height: 300px;
        background-color: rgba(232, 136, 3, 0.7);
    }

    .links_person2 a {
        font-size: 40px;
        margin: 1rem;
        color: white;
        transition: all .5s;
    }

    .links_person2 a:hover {
        transform: translateY(-10px);
    }

    .person2_content {
        background-color: #221d27;
        color: white;
    }

    .person2:hover .person2_hover {
        top: 0px;
    }

    .person1_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .person2_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
    }

    .section--6 {
        margin: 0 5rem;
        margin-top: 5rem;
    }

    .sec-6_content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
        color: black;
    }

    .gallery {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        align-items: center;
        grid-gap: 1rem;
    }

    .img_iteam {
        width: 400px;
        height: 400px;
        background-color: #221d27;
        color: #f3f3f3;
        transition: all .5s;
    }

    .img_iteam:hover {
        transform: scale(1.02);
    }

    .img_1 {
        grid-row: 1/3;
        height: 800px;
        overflow: hidden;
    }

    .img_1 img {
        height: 800px;
        object-fit: fill;
    }

    .img_2 {
        grid-column: 2/4;
        width: 815px;
        height: 383px;
        overflow: hidden;
        object-fit: cover;
    }

    .img_2 img {
        height: 400px;
        width: 800px;
    }

    .img_3 {
        overflow: hidden;
        object-fit: contain;
    }

    .img_3 img {
        height: 500px;
        width: 400px;
    }

    .img_4 {
        grid-row: 2/4;
        height: 800px;
        overflow: hidden;
    }

    .img_4 img {
        height: 800px;
        width: 400px;
        object-fit: fill;
    }

    .img_5 {
        overflow: hidden;
        object-fit: cover;
    }

    .img_5 img {
        height: 400px;
        width: auto;
    }

    .img_6 {
        overflow: hidden;
        object-fit: contain;
    }

    .img_6 img {
        height: 600px;
        width: 400px;
    }

    .section--7 {
        margin: 0 5rem;
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        flex-direction: row;
        box-shadow: 5px 0 5px 5px rgba(28, 28, 28, .1);
    }

    .sec-7_left {
        height: 500px;
        width: 500px;
        background-color: #ffffff;
        overflow: hidden;
    }

    .sec-7_left img {
        height: 500px;
        width: auto;
    }

    .sec-7_right {
        background-color: #ffffff;
        height: 500px;
        width: 857px;
        padding: 0 2rem;
        padding-top: 5rem;
        position: relative;
    }

    .hidden {
        display: none;
    }

    .sec-7_right button {
        margin-top: 5rem;
        font-size: 20px;
        width: 150px;
        height: 50px;
        border: none;
        color: white;
        background-color: #EC600B;
        transition: all .5s;
    }

    .sec-7_right button:hover {
        background-color: #221d27;
        color: #ffffff;
    }

    footer {
        margin-top: 5rem;
        overflow: hidden;
    }

    .footer {
        width: 100vw;
        height: 400px;
        background-color: #221d27;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .logo {
        display: flex;
        align-items: center;
        padding: 2rem;
        width: 400px;
    }

    .logo img {
        width: 200px;
        height: 200px;
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 2rem;
        width: 600px;
        color: white;
    }

    .contact span {
        color: #ebbdbd;
    }

    .contact span:hover {
        color: white;
        text-decoration: underline;
    }

    .mail {
        margin: 2rem 0;
        transition: all 2s;
    }

    .mail a {
        color: #ebbdbd;
    }

    .mail a:hover {
        color: white;
        text-decoration: underline;
    }

    .location a {
        color: #ebbdbd;
    }

    .location a:hover {
        color: white;
        text-decoration: underline;
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 600px;
        color: white;
    }

    .instagram {
        margin: 2rem 0;
    }

    .instagram a {
        color: #ebbdbd;
    }

    .instagram a:hover {
        color: white;
    }

    .facebook a {
        color: #ebbdbd;
    }

    .twitter a:hover {
        color: white;
    }

    .twitter a {
        color: #ebbdbd;
    }

    .facebook a:hover {
        color: white;
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        backdrop-filter: blur(6px);
    }

    .hidden {
        display: none;
    }

    .outer-modal {
        position: relative;
        transition: all .5s;
    }

    .modal {
        position: absolute;
        top: 0%;
        z-index: 100000;
        width: 80%;
        height: 600px;
        margin-left: 10rem;
        margin-top: -40rem;
        background-color: rgb(255, 255, 255);
        color: black;
        overflow: hidden;
        animation-name: modalanimate;
        animation-duration: 0.5s;
        display: flex;
        flex-direction: row;
    }

    @keyframes modalanimate {
        from {
            transform: translateX(-500px);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .modal_left {
        width: 50%;
        overflow: hidden;
        object-fit: contain;
    }

    .modal_left img {
        width: 610px;
    }

    .modal_right {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        width: 50%;
        color: #f3f3f3;
        background-color: #221d27;
    }

    .modal_apply {
        width: 150px;
        height: 50px;
        border-radius: .5rem;
        background-color: #EC600B;
        font-size: 1rem;
        color: #f3f3f3;
        transition: all .5s;
    }

    .modal_apply:hover {
        background-color: #e28e34;
    }

    .modal_close {
        margin-left: 1rem;
        width: 150px;
        height: 50px;
        border-radius: .5rem;
        background-color: #EC600B;
        font-size: 1rem;
        color: #f3f3f3;
        transition: all .5s;
    }

    .modal_close:hover {
        background-color: rgb(160, 61, 61);
    }

    .model-question {
        color: white;
        background: transparent;
        border: none;
        border-bottom: 5px solid white;
        margin-top: .5rem;
    }

    @media only screen and (max-width: 435px) {
        .background_content span {
            font-size: 10px;
        }

        .section--1 {
            margin: 0 1rem;
            margin-top: 5rem;
        }

        .section--1 .right_content {
            margin-top: 5rem;
        }

        .section--2 {
            margin: 0 1rem;
            margin-top: 5rem;
            height: 900px;
            flex-direction: row;
        }

        .section--2 img {
            width: 350px;
            height: 300px;
            object-fit: fill;
        }

        .section--3 {
            margin: 0 1rem;
            flex-direction: row;
        }

        .sec-3_card {
            margin: 0;
            margin-left: 0;
            margin-top: 0;
            width: 350px;
            height: auto;
        }

        .sec-3_right {
            grid-template-columns: auto;
            margin: 0 1rem;
            width: 390px;
            overflow: hidden;
        }

        .cctv {
            width: 350px;
            margin: 0;
        }

        .alarm {
            width: 350px;
            margin: 0;
            margin: 0 1rem;
        }

        .on-site {
            width: 350px;
            margin: 0;
        }

        .protection {
            width: 350px;
            margin: 0;
        }

        .section--4 {
            flex-direction: column;
            margin: 0;
            margin: 0 1rem;
        }

        .section--4 .sec--4_left {
            width: 398px;
            margin: 0;
        }

        .section--4 .sec--4_right {
            padding-right: 8rem;
            overflow: hidden;
            width: 390px;
        }

        .section--5 {
            flex-direction: row;
            margin: 0;
            margin: 0 1rem;
        }

        .sec-5_left {
            width: 380px;
            margin: 0;
            margin-left: 0;
        }

        .sec-5_card {
            margin-top: 0;
            margin-left: 0;
            width: 343px;
            height: 600px;
        }

        .sec-5_right {
            margin: 0;
            margin-top: 1rem;
        }

        .sec-5_right .person2 {
            margin: 0;
            margin-top: 1rem;
        }

        .section--6 {
            margin: 0;
            margin: 0 1rem;
            flex-direction: row;
        }

        .gallery {
            display: none;
        }

        .section--7 {
            margin: 0 1rem;
            width: 370px;
            overflow: hidden;
        }

        .sec-7_left {
            margin: 0 1rem;
            width: 375px;
        }

        .sec-7_left img {
            width: 375px;
        }

        .sec-7_right {
            height: 700px;
            margin: 0;
            margin: 0 1rem;
        }

        .sec-7_right_heading {
            margin: 0;
            padding: 1rem;
        }

        .footer {
            width: auto;
            height: auto;
            grid-template-columns: auto;
        }

        .links {
            padding-left: 2rem;
        }

        .heading_links {
            margin-bottom: 1rem;
        }

        .modal {
            width: 350px;
            height: auto;
            overflow: hidden;
            margin-left: 1rem;
            flex-direction: column;
            animation-name: responsivemodal;
            animation-duration: 0.5s;
        }

        @keyframes responsivemodal {
            from {
                transform: translateX(-5000px);
                opacity: 0;
            }

            to {
                transform: translateX(0);
                opacity: 1;
            }
        }

        .modal_left {
            width: 350px;
        }

        .modal_left img {
            width: 350px;
        }

        .modal_right {
            width: 350px;
        }

        .modal_btn {
            display: flex;
            flex-direction: row;
        }

        .modal_close {
            width: 100px;
        }

        .modal_apply {
            width: 100px;
        }
    }